.question-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loading,
.error,
.empty {
  text-align: center;
  padding: 40px 0;
  font-size: 1rem;
  color: #818181;
}

.error {
  color: #f66a6a;
}

.load-more-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #FFF);
  color: var(--gray-B, #000);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  cursor: pointer;
}
