@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* 여기서 부터 내 CSS */
/* 버튼 관련 스타일 */
/*-----------------------------------------------------------------------------------------------------------------*/
/* 공통 스타일: 모든 버튼에 적용될 기본 스타일 */
.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.button .button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button .button-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

/* 색상별 버튼 스타일 */
.white-button {
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #FFF);
  color: var(--gray-B, #000);
  text-align: center;
  /* sb_18_24 */
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}

.blue-button {
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 0;
  background: #2974E5;
  color: #FFF;
  text-align: center;
  /* sb_18_24 */
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}

.blue-button:disabled {
  background-color: #c7c7c7;
  color: #E4E4E4;
  cursor: not-allowed;
}

.red-button {
  color: var(--gray-700, rgba(246, 106, 106, 1));
}

/* 심플 버튼 스타일 */
.simple-button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 0;
}

.simple-vertical-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: transparent;
  border: 0;
  color: var(--gray-700, #5F5F5F);
  /* r_14_20 */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

/* 이미지 업로드 버튼 스타일 */
.image-upload-button {
  width: 10rem;
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 0;
  background: var(--gray-50, #F2F2F2);
  color: var(--gray-600, #777);
  /* r_16_24 */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.image-upload-button .button-icon img {
  width: 2.5rem;
  height: 2.5rem;
}

/* 그룹별 버튼 스타일 */
.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.button-group-image-upload {
  display: flex;
  width: 100%;
  gap: 1rem;
}


/* 입력 필드 관련 스타일 */
/*-----------------------------------------------------------------------------------------------------------------*/
/* 입력 필드 컨테이너 스타일 */
.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

/* 입력 필드 그룹 스타일 */
.input-group-column {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
}

.input-group-address {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.input-button-group-address {
  display: flex;
  width: 14rem;
  align-items: end;
  gap: 0.5rem;
}

/* 입력 필드 제목 스타일 */
.input-title-container {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  /* me_16_24 */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}

.input-title {
  color: var(--gray-800, #333);
}

.input-title-asterisk {
  color: var(--red, #F66A6A);
}

/* 입력 필드 본문 스타일 */
.input-text {
  display: flex;
  width: 100%;
  padding: 0.75rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.5rem;
  border: 1px solid var(--Gray-Gray-200, #D4D3D3);
  background: var(--Gray-W, #FFF);
  /* r_16_24 */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.input-text::placeholder {
  color: var(--Gray-Gray-400, #ABABAB);
}

/* 에러 메시지 스타일 */
.input-error-message {
  color: var(--red, #F66A6A);
  /* me_16_24 */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}