.내용컨테이너 {
    max-width: 50rem;
}

.일기상세메인 {
    display: flex;
    max-width: 73rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.일기상세타이틀 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.01375rem;
    display: flex;
    max-width: 73rem;
    padding-bottom: 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-bottom: 0.125rem solid #000;
}

.일기상세기분과날짜 {
    display: flex;
    max-width: 73rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.일기상세내용 {
    align-self: stretch;
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: -0.01rem;
}

.일기상세버튼컨테이너 {
    display: flex;
    max-width: 73rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.회고영역컨테이너 {
    border-top: 0.0625rem solid var(--Gray-B, #000);
    padding-top: 1.5rem;
    display: flex;
    max-width: 73rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.회고입력과버튼컨테이너 {
    display: flex;
    gap: 1rem;
    align-self: stretch;
}

.회고개별컨테이너 {
    width: 100%;
}

.회고개별 {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.75rem;
    align-self: stretch;
    flex-wrap: wrap;
    padding: 0.75rem 0 0.75rem 0;
    border-top: solid 0.0625rem #e4e4e4;
}

.회고개별:first-child {
    border-top: none;
}

.회고내용 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
}

.회고작성일시 {
    color: var(--Gray-Gray-600, #777);
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
}