/*
    index.css에 다크모드 적용에 필요한 변수가 정의되어 있으므로,
    detail.css에서는 해당 변수를 가져와서 사용합니다.
*/



.내용컨테이너 {
    max-width: 50rem;
}

.일기상세메인 {
    display: flex;
    max-width: 73rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

.일기상세타이틀 {
    color: var(--기본-텍스트-색상);
    font-family: "Pretendard Variable";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.01375rem;
    display: flex;
    max-width: 73rem;
    padding-bottom: 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-bottom: 0.125rem solid var(--기본-텍스트-색상);
}

.일기상세기분과날짜 {
    display: flex;
    max-width: 73rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.일기상세내용 {
    align-self: stretch;
    color: var(--보조-텍스트-색상-1);
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: -0.01rem;
}

.기능버튼컨테이너 {
    width: 100%;
    display: flex;
    justify-content: end;
}

.복사토스트 {
    display: flex;
    position: fixed;
    inset: auto auto 2.5rem auto;
    width: 80%;
    max-width: 47.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: var(--기본-텍스트-색상);
    color: var(--푸터-배경색);
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    /* 150% */
    letter-spacing: -0.01rem;
    z-index: 10;
    opacity: 0;
    transition: opacity ease 0.6s;
}

.복사토스트.활성화됨 {
    opacity: 1;
}

.일기상세버튼컨테이너 {
    display: flex;
    max-width: 73rem;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.회고영역컨테이너 {
    border-top: 0.0625rem solid var(--테두리색-1);
    padding-top: 1.5rem;
    display: flex;
    max-width: 73rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.회고입력과버튼컨테이너 {
    display: flex;
    gap: 1rem;
    align-self: stretch;
}

.회고개별컨테이너 {
    width: 100%;
}

.회고개별 {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.75rem;
    align-self: stretch;
    flex-wrap: wrap;
    padding: 0.75rem 0 0.75rem 0;
    border-top: solid 0.0625rem var(--테두리색-1);
}

.회고개별:first-child {
    border-top: none;
}

.회고내용 {
    color: var(--기본-텍스트-색상);
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
}

.회고작성일시 {
    color: var(--보조-텍스트-색상-2);
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
}