* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.전체컨테이너 {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.내용컨테이너 {
    width: 100%;
    max-width: 1168px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.메인플로팅버튼 {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 48px;
    right: 48px;
    cursor: pointer;
}

.헤더 {
    display: flex;
    height: 60px;
    min-width: 320px;
    max-width: 1168px;
    align-items: center;
    gap: 10px;

}

.헤더 h1 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 88.889% */
    letter-spacing: -0.18px;

}

.헤더 a {
    text-decoration: none;
    /* 링크 밑줄 제거 */
    color: inherit;
    /* 링크의 파란색 색상을 부모 요소의 색상으로 상속 */
}

.상단배너이미지 {
    width: 100%;
    height: 240px;
    background-image: url(./assets/images/top_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 24px;

}

.탭바 {
    width: 100%;
    height: 48px;

    display: flex;
    min-width: 204px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}

.탭바항목_선택됨 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.24px;
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #000;
}

.탭바항목_선택안됨 {
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.24px;
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.컨트롤바 {
    position: sticky;
    top: 0;
    padding: 16px 0px 16px 0px;
    z-index: 1;
}

.기분필터드롭다운 {
    display: flex;
    min-width: 120px;
    padding: 4px;
    border-right: 16px solid transparent;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-300, #C7C7C7);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.16px;
}

.기분필터드롭다운.scrolled {
    background: var(--Gray-Gray-900, #1C1C1C);
    /* 배경색 반전 */
    color: var(--Gray-W, #FFF);
    /* 텍스트 색상 반전 */
    border: 1px solid var(--Gray-Gray-900, #1C1C1C);
    /* 테두리 색상도 배경색에 맞게 변경 */
}

.카드목록_일기쓰기패널 {
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: start;

}

.카드목록 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;


}

.카드 {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 16px;
    background: #FFF;
    overflow: hidden;
    transition: all 0.5s ease;
}

/* 카드를 호버했을 때의 공통 효과 */
.카드:hover {
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.16);
    transform: scale(1.1);
    cursor: pointer;
    /* 모든 변화에 0.3초의 부드러운 전환 효과를 적용 */
}

/* 카드를 호버했을 때 카드 안의 "~카드썸네일"에 블러 효과 적용 */
.카드:hover [class$="카드썸네일"] {
    filter: blur(3px);
}

.카드삭제버튼 {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}

.슬퍼요카드썸네일 {
    background-image: url("./assets/images/sad.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 285px;
}

.놀랐어요카드썸네일 {
    background-image: url("./assets/images/suprised.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 285px;
}

.화나요카드썸네일 {
    background-image: url("./assets/images/angry.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 285px;
}

.행복해요카드썸네일 {
    background-image: url("./assets/images/happy.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 285px;
}

.기타카드썸네일 {
    background-image: url("./assets/images/etc.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 285px;
}




.카드텍스트컨테이너 {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.기분과날짜 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.슬퍼요텍스트색상 {
    color: #28B4E1;
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.놀랐어요텍스트색상 {
    color: #D59029;
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.화나요텍스트색상 {
    color: var(--Gray-Gray-600, #777);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.행복해요텍스트색상 {
    color: #EA5757;
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.기타텍스트색상 {
    color: #A229ED;
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}


.날짜 {
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.14px;
}

.타이틀 {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.18px;
}

.일기쓰기패널 {
    display: flex;
    width: 360px;
    min-width: 360px;
    max-width: 760px;
    padding: 24px;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    border-radius: 16px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
}

.일기쓰기패널 h1 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.24px;
}

.일기쓰기패널 h2 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
    letter-spacing: -0.2px;
}

.일기쓰기패널 p {
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.일기오늘기분 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.일기라디오 {
    display: flex;
    max-width: 592px;
    align-items: center;
    align-content: center;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

.라디오그룹 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.일기등록버튼 {
    display: flex;
    height: 48px;
    width: 100%;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0px;
    background: var(--Gray-Gray-300, #C7C7C7);
    color: var(--Gray-Gray-50, #F2F2F2);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.18px;
}

.일기등록버튼_활성화 {

    background: linear-gradient(0deg, #2C79EB 0%, #8891F0 100%);
    cursor: pointer;

}

.일기텍스트 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.입력필드그룹 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.라디오라벨 {
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.입력창 {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.16px;
}

.입력창::placeholder {
    color: var(--Gray-Gray-400, #ABABAB);
}

.푸터 {
    display: flex;
    padding: 24px 20px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--Gray-Gray-50, #F2F2F2);
}

.푸터텍스트컨테이너 {
    display: flex;
    width: 100%;
    max-width: 1168px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.푸터텍스트1 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 80% */
    letter-spacing: -0.2px;
}


.푸터텍스트2 {
    color: var(--Gray-Gray-700, #5F5F5F);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */
    letter-spacing: -0.14px;
}


.푸터텍스트3 {
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    /* 114.286% */
    letter-spacing: -0.14px;
}




/* 공통 요소 모음 */

.버튼_중간크기_화이트 {
    display: flex;
    width: 104px;
    height: 48px;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Gray-B, #000);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.18px;
    cursor: pointer;
}

.버튼_중간크기_블랙 {
    display: flex;
    width: 104px;
    height: 48px;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Gray-B, #000);
    color: var(--Gray-Gray-50, #F2F2F2);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.18px;
    cursor: pointer;
}

.버튼_작은크기_화이트 {
    display: flex;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.18px;
    cursor: pointer;
}