* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    /* 기본 글꼴 크기 설정 (1rem = 16px) */
}

.전체컨테이너 {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.내용컨테이너 {
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
    max-width: 73rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.메인플로팅버튼 {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 3rem;
    right: 3rem;
    cursor: pointer;
    z-index: 9;
}

.헤더 {
    display: flex;
    height: 3.75rem;
    min-width: 20rem;
    max-width: 73rem;
    align-items: center;
    gap: 0.625rem;
}

.헤더 h1 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: -0.01125rem;
}

.헤더 a {
    text-decoration: none;
    color: inherit;
}

.상단배너이미지 {
    width: 100%;
    height: 15rem;
    background-image: url(./assets/images/top_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 1.5rem;
}

.탭바 {
    width: 100%;
    height: 3rem;
    display: flex;
    min-width: 12.75rem;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
}

.탭바항목_선택됨 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.015rem;
    display: flex;
    padding: 0.75rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 0.125rem solid #000;
}

.탭바항목_선택안됨 {
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.015rem;
    display: flex;
    padding: 0.75rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.컨트롤바 {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}

.기분필터드롭다운 {
    display: flex;
    min-width: 7.5rem;
    padding: 0.25rem;
    border-right: 1rem solid transparent;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--Gray-Gray-300, #C7C7C7);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
}

.기분필터드롭다운.scrolled {
    background: var(--Gray-Gray-900, #1C1C1C);
    color: var(--Gray-W, #FFF);
    border: 0.0625rem solid var(--Gray-Gray-900, #1C1C1C);
}

.카드목록컨테이너 {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: start;
}

.카드목록 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.카드 {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: #FFF;
    overflow: hidden;
    transition: all 0.5s ease;
}

.카드:hover {
    box-shadow: 0 0.125rem 1.875rem 0 rgba(0, 0, 0, 0.16);
    transform: scale(1.1);
    cursor: pointer;
}

.카드:hover [class$="카드썸네일"] {
    filter: blur(0.1875rem);
}

.카드삭제버튼 {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
}

.슬퍼요카드썸네일 {
    background-image: url("./assets/images/sad.png");
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 17.8125rem;
}

.놀랐어요카드썸네일 {
    background-image: url("./assets/images/suprised.png");
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 17.8125rem;
}

.화나요카드썸네일 {
    background-image: url("./assets/images/angry.png");
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 17.8125rem;
}

.행복해요카드썸네일 {
    background-image: url("./assets/images/happy.png");
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 17.8125rem;
}

.기타카드썸네일 {
    background-image: url("./assets/images/etc.png");
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 17.8125rem;
}

.카드텍스트컨테이너 {
    display: flex;
    padding: 0 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.기분과날짜 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.슬퍼요텍스트색상 {
    color: #28B4E1;
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.00875rem;
}

.놀랐어요텍스트색상 {
    color: #D59029;
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.00875rem;
}

.화나요텍스트색상 {
    color: var(--Gray-Gray-600, #777);
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.00875rem;
}

.행복해요텍스트색상 {
    color: #EA5757;
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.00875rem;
}

.기타텍스트색상 {
    color: #A229ED;
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.00875rem;
}

.날짜 {
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.00875rem;
}

.타이틀 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #000;
    text-overflow: ellipsis;
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.01125rem;
}

.모달패널 {
    display: flex;
    width: 40rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
    border-radius: 1rem;
    border: 0.0625rem solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
}

.모달패널_작은크기 {
    display: flex;
    width: 30rem;
    min-width: 30rem;
    max-width: 47.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.모달패널 h1 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.015rem;
}

.모달패널 h2 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.0125rem;
}

.모달패널 h3 {
    color: var(--Gray-Gray-800, #333);
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    /* 120% */
    letter-spacing: -0.0125rem;
}

.모달패널 p {
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: -0.00875rem;
}

.모달패널버튼컨테이너 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.일기오늘기분 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.일기라디오 {
    display: flex;
    max-width: 37rem;
    align-items: center;
    align-content: center;
    gap: 1.25rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.라디오그룹 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.일기텍스트 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.입력필드그룹 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.라디오라벨 {
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: -0.00875rem;
}

.입력창 {
    display: flex;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    font-family: "Pretendard Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
    flex-grow: 1;
}

.입력창::placeholder {
    color: var(--Gray-Gray-400, #ABABAB);
}

.푸터 {
    display: flex;
    padding: 1.5rem 1.25rem;
    margin-top: 2.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    background: var(--Gray-Gray-50, #F2F2F2);
}

.푸터텍스트컨테이너 {
    display: flex;
    width: 100%;
    max-width: 73rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.푸터텍스트1 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: -0.0125rem;
}

.푸터텍스트2 {
    color: var(--Gray-Gray-700, #5F5F5F);
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: -0.00875rem;
}

.푸터텍스트3 {
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1rem;
    letter-spacing: -0.00875rem;
}


.버튼_채우게 {
    width: 100%;
}

.버튼_고정너비 {
    width: 6.5rem;
}

.버튼_중간크기_화이트 {
    display: flex;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--Gray-B, #000);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.01125rem;
    cursor: pointer;
}

.버튼_중간크기_블랙 {
    display: flex;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0;
    background: var(--Gray-B, #000);
    color: var(--Gray-Gray-50, #F2F2F2);
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.01125rem;
    cursor: pointer;
}

.버튼_중간크기_블랙:disabled {
    background-color: #C7C7C7;
    cursor: default;
}

.버튼_작은크기_화이트 {
    display: flex;
    padding: 0.5rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.01125rem;
    cursor: pointer;
}

.버튼_작은크기_블랙 {
    display: flex;
    padding: 0.5rem 0.625rem;

    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: var(--Gray-B, #000);
    color: var(--Gray-W, #FFF);
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.01125rem;
    cursor: pointer;
}

.모달배경 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 90;
    transition: ease;
}

@media (max-width: 980px) {
    .카드목록컨테이너 {
        flex-direction: column;
    }

    .카드목록 {
        grid-template-columns: 1fr 1fr;
    }

    .모달패널 {
        width: 100%;
    }
}