.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gap32 {
  width: 100%;
  height: 32px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
}

.searchLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

@media (max-width: 767px) {
  .search {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    gap: 16px;
  }

  .searchLeft {
    flex-direction: column;
    gap: 16px;
  }
}

.selectbox {
  width: 120px;
}

.searchbar {
  width: 320px;
}

.writeButton {
  width: 110px;
}

@media (max-width: 767px) {
  .selectbox {
    width: 100%;
  }

  .searchbar {
    width: 100%;
  }

  .writeButton {
    width: 100%;
  }
}

.gap42 {
  width: 100%;
  height: 42px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

@media (max-width: 767px) {
  .main {
    gap: 16px;
  }
}

.diaryCard {
  display: flex;
  flex-direction: column;
  width: 274px;
  background-color: var(--color-gray-white);
  border-radius: 16px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .diaryCard {
    width: 152px;
  }
}

.cardImageWrapper {
  position: relative;
  width: 274px;
  height: 208px;
}

@media (max-width: 767px) {
  .cardImageWrapper {
    width: 152px;
    height: 116px;
  }
}

.cardImage {
  width: 274px;
  height: 208px;
  object-fit: cover;
  border-radius: 16px 16px 16px 16px;
}

@media (max-width: 767px) {
  .cardImage {
    width: 152px;
    height: 116px;
  }
}

.closeIcon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.emotion {
  font-size: var(--typo-mobile-subtitle01-size);
  line-height: var(--typo-mobile-subtitle01-line-height);
  font-weight: var(--typo-mobile-subtitle01-weight);
  letter-spacing: -0.14px;
}

.date {
  font-size: var(--typo-mobile-subtitle01-size);
  line-height: var(--typo-mobile-body01-r-line-height);
  font-weight: var(--typo-mobile-body01-r-weight);
  letter-spacing: -0.14px;
  color: var(--color-gray-50);
}

.title {
  font-size: var(--typo-mobile-title01-size);
  line-height: var(--typo-mobile-title01-line-height);
  font-weight: var(--typo-mobile-title01-weight);
  letter-spacing: -0.18px;
  color: var(--color-gray-black);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gap40 {
  width: 100%;
  height: 40px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

