.container {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
}

.searchWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  max-width: 640px;
}

.inputContainer {
  display: flex;
  min-width: 11.25rem;
  max-width: 40rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  border-radius: 0.5rem;
  background: var(--gray-50, #F2F2F2);
}

.input {
  width: 100%;
  color: var(--gray-500, #000000);
  background-color: transparent;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--Gray-Gray-400, #919191);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 640px) {
  .searchWrapper {
    flex-direction: column;
  }

  .inputContainer {
    width: 100%;
  }
}
