.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

.table-container {
  display: flex;
  padding: 1.5rem 3rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 1rem;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

.table-row-head {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;

  overflow: hidden;
}

.table-cell-left-head {
  color: #1C1C1C;

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 125% */
}

.table-cell-center-head {
  color: #1C1C1C;
  text-align: center;

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 125% */
}

.table-row-body {
  position: relative;
  display: flex;
  padding: 0.75rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;

  border-radius: 0.5rem;
  border: 1px solid #F2F2F2;

  overflow: hidden;
  cursor: pointer;
}

.table-cell-left-black {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  color: var(--Gray-90, #1C1C1C);
  text-overflow: ellipsis;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
}

.table-cell-center-gray {

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  color: var(--Gray-50, #919191);
  text-align: center;
  text-overflow: ellipsis;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
  /* 142.857% */
}

.table-cell-center-black {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  color: var(--Gray-80, #333);
  text-align: center;
  text-overflow: ellipsis;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
  /* 142.857% */
}

.number-cell-width {
  flex: 0 0 4rem;
}

.title-cell-width {
  flex: 1 0 4rem;
}

.writer-cell-width {
  flex: 0 0 6.25rem;
}

.date-cell-width {
  flex: 0 0 6.25rem;
}

.button-container {
  display: none;
  position: absolute;
  right: 0.5rem;
}

.table-row-body:hover .button-container {
  display: flex;
}